 /**
 *  overrides.css
 *  Michael Joyce | 200284329 | 25 January 2017
 *  UI customizations to override jQuery Mobile defaults.
 */

/**
 *  Calculator body
 **/
body {
    background-color: #363838;
    font-size: 1.1em;
    color: #2B2A2B;
}

.calculator-body {
    height: 100%;
}

#display {
    width: 99%;
    height: 18%;
    background-color: #363838;
    font-size: 1.35em;
    text-align: right;
    color: #FFFDFA;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0;
}

.ui-grid-d {
    border-top: 3px #FFFDFA solid;
    width: 100%;
    margin-top: 2%;
}

/**
 *  Calculator buttons
 **/
.ui-btn {
    border: 3px #363838 solid;
    height: 16%;
    font-size: 2em;
    text-align: center;
    padding: 0 0 !important;
}

.operand {
    background-color: #FFFDFA;
}

.operator {
    background-color: #61BE6C;
}

.equals {
    background-color: #FE8C17;
}

.function, .clear {
    background-color: #407E48;
    color: #FFFDFA;
}

.pressed {
    background-color: #FE614C;
    color: #FFFDFA;
}
